:root {
    --color-fill: #c8102e;
    --color-fill-ii: #FFF9D9;
    --font-fill: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--color-fill);
    color: white;
    overflow-x: hidden;
}

/* vital ones */
::selection {
    background-color: #FFF9D9;
}

.padding-end {
    padding-right: 40px;
}

.row {
    padding-left: 28px;
    padding-right: 28px;
}

i {
    padding-right: 10px;
    cursor: pointer;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/* steps for the body */
.menu {
    padding-top: 15px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

.search a {
    color: var(--color-fill-ii);
}

.search a:hover {
    color: white;
}

.ihand {
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

.menu-ii {
    display: flex;
    flex-direction: row;
}

.uni {
    bottom: 10%;
}
.about {
    position: absolute;
    left: 33%;
    top: 13%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: bolder;
    font-family: var(--font-fill);
}

.about a {
    color: var(--color-fill-ii);
    padding: 10px;
    position: inherit;
}

.about a:hover {
    color: white;
    border: 1px solid rgb(129, 43, 43);
    background-color: rgb(129, 43, 43);
    padding-top: 15px;
    padding-bottom: 15px;
}

.sugar{
    display: none;
    list-style-type: none;
}

.resource {
    background-color: #FFF9D9;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.resource h1 {
    color: black;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 15px;
}

.student {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.student a{
    color: rgb(187, 48, 48);
    font-family: var(--font-fill);
    padding: 10px;
    font-weight: bolder;
    font-size: large;
    position: relative;
    top: 35%;
}

.student a:hover {
    color: rgb(109, 24, 24);
}

.flag {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-family: var(--font-fill);
    height: 63vh;
}

.flag ol {
    list-style-type: none;
}

.celeb {
    font-size: 3.5rem;
    font-stretch: ultra-condensed;
    font-weight: bolder;
    position: relative;
    top: 35px;
    color: white;
    padding-left: 10px;
}
#celeb {
    background-color: white;
    width: 225px;
    height: 10px;
    position: relative;
    bottom: 10px;
    left: 63%;
}

.pride { 
    font-size: 13rem;
    font-stretch: ultra-condensed;
    font-stretch: ultra-expanded;
    font-weight: bolder;
    position: relative;
    bottom: 40px;
}

#month {
    background-color: white;
    width: 430px;
    height: 10px;
    position: relative;
    bottom: 80px;
    left: 2%;
}
.month {
    font-size: 3.5rem;
    font-stretch: ultra-condensed;
    font-weight: bolder;
    position: relative;
    left: 72%;
    bottom: 130px;
}

.june {
    font-size: 4rem;
    font-stretch: ultra-condensed;
    font-weight: bolder;
    position: relative;
    bottom: 150px;
}

#june {
    background-color: white;
    width: 265px;
    height: 10px;
    position: relative;
    bottom: 200px;
    left: 45%;
}

.flag i {
    background-color: white;
    color: rgb(150, 52, 52);
    border: 2.5px solid white;
    border-radius: 100px;
    width: 70px;
    padding-top: 1.8px;  
    padding-left: 0.6px; 
    font-size: 4rem;
    position: relative;
    bottom: 240px;
    left: 86.5%;
}

.flag a img {
    width: 46.4vw;
    height: 63vh;
    justify-content: flex-end;
    position: relative;
    left: 13%;
}

.apply {
    background-color: var(--color-fill-ii);
    height: 20vh;
}
/* 
.apply-now {
    display: flex;
} */

.apply-now ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 100px;
    padding-top: 24px;
}

.apply-now ol a {
    color: var(--color-fill);
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'League Gothic'; */
    font-size: 3rem;
    font-weight: bolder;
    font-stretch: ultra-condensed;
    position: relative;
    right: 50px;
    top: 12%;
    white-space: nowrap;
    word-spacing: -2px;
    word-spacing: -5px;
}

.apply-now ol a:hover {
    color: rgb(109, 24, 24);
}

.apply-now ol a svg {
    height: 20vh;
}

.apply-now .left {
    position: relative;
    left: 7%;
}

.apply-now .left-ii {
    position: relative;
    left: 14%;
}

.apply-now .left-iii {
    position: relative;
    left: 18%;
}

.story {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.story .story-head {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 40px;
}
.story-head a:hover {
    color: rgb(109, 24, 24);
}


.story-head h1 {
    font-family: var(--font-fill);
    font-size: 2.5rem;
    font-weight: bolder;
    font-stretch: ultra-condensed;
    letter-spacing: -2px;
}

.story-head a {
    color: var(--color-fill);
    line-height: 60px;
    font-family: var(--font-fill);
    font-size: large;
    font-weight: bolder;
}

.story-head a i {
    font-size: small;
}

.left-iv {
    padding-left: 20px;
    padding-right: 20px;
}

.story .story-main ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: var(--color-fill);
    padding-top: 30px;
    padding-left: 40px;
}

.story-main ol img {
    width: 29vw;
    padding-bottom: 15px;
}

.story-main ol a:hover {
    text-decoration: underline;
    color: rgb(109, 24, 24);
}

.story-main ol img:hover {
    transform: scale(1.01);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.story-main ol img:hover::before {
    background-color: white;
    z-index: -1;
}

.left-v {
    padding-left: 40px;
    padding-right: 40px;
}

.story-main ol i {
    font-size: 2.5rem;
    position: relative;
    top: 300px;
    padding-left: 5px;
}

.story-main ol a {
    color: var(--color-fill);
    font-family: var(--font-fill);
    font-stretch: ultra-condensed;
    font-size: 27.5px;
    font-weight: bolder;
    line-height: 30px;
}

.story-main ol abbr {
    text-decoration: none;
}

.story-main ol p {
    padding-top: 10px;
    color: black;
    padding-bottom: 30px;
    font-size: 1.05rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
}

.event {
    background-color: var(--color-fill-ii);
    color: black;
    display: flex;
    flex-direction: column;
    height:92vh;
}

.event .event-head {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 40px;
}

.event-head h1 {
    font-family: var(--font-fill);
    font-size: 2.5rem;
    font-weight: bolder;
    font-stretch: ultra-condensed;
    letter-spacing: -2px;
}

.event-head a {
    color: var(--color-fill);
    line-height: 60px;
    font-family: var(--font-fill);
    font-size: large;
    font-weight: bolder;
}

.event-head a:hover {
    color: rgb(109, 24, 24);
}

.event-head a i {
    font-size: small;
}

.event .event-main ol {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: var(--color-fill);
    padding-top: 30px;
    padding-left: 40px;
}

.event-main ol img {
    width: 29vw;
    padding-bottom: 15px;
}

.event-main ol a:hover {
    text-decoration: underline;
    color: rgb(109, 24, 24);
}

.event-main ol img:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.event-main ol img:hover::before {
    background-color: white;
    z-index: -1;
}

/* .left-v {
    padding-left: 40px;
    padding-right: 40px;
}

.event-main ol i {
    font-size: 2.5rem;
    position: relative;
    top: 300px;
    padding-left: 5px;
} */

.event-main ol a {
    color: var(--color-fill);
    font-family: var(--font-fill);
    font-stretch: ultra-condensed;
    font-size: 27.5px;
    font-weight: bolder;
    line-height: 30px;
}

.event-main ol abbr {
    text-decoration: none;
}

.event-main ol p {
    padding-top: 10px;
    color: black;
    padding-bottom: 30px;
    width: 29vw;
    font-size: 1.05rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
}

.event-date-wrapper {
    color: rgb(255, 249, 217);
    margin-left: -1rem;
    margin-top: 1rem;
    position: absolute;
    text-align: center;
    z-index: auto;
    font: 0.875rem / 1 "Source Sans Pro", sans-serif;
    transition: color 0.25s ease 0s;
    padding-left: 40px;
    padding-top: 50px;
    cursor: pointer;
}

.event-date-wrapper::before {
    bottom: -0.5rem;
    content: "";
    height: 63%;
    left: 0px;
    position: absolute;
    width: 1rem;
    left: 36%;
    transform: skewY(45deg);
    background:rgb(200, 16, 46);
}

.event-date {
    min-width: 4.5em;
    position: relative;
    z-index: 1;
    transform: translate3d(0px, 0px, 16px);
    background: rgb(200, 16, 46);
    padding: 0.5em 0em 0.5em 1em;
}
.months {
   font-size: medium;
   padding-top: 10px;
}

.event-date .day {
    font-size: 2em;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

.event-date span {
    display: block;
}

.event-date::before {
    top: 0px;
    transform: skewX(-16deg);
}

.event-date::after {
    bottom: 0px;
    transform: skewX(16deg);
}

.event-date::before,
.event-date::after {
    content: "";
    height: 50%;
    position: absolute;
    right: -10%;
    width: 100%;
    z-index: -1;
    background: rgb(200, 16, 46);
    margin: 0px;
}

.initiative {
    background-color: gray;
}

.foot {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 42vh;
}

.foot ol {
    list-style-type: none;
}

.foot .foot-head {
    padding-right: 60px;
}

.foot ol a {
    font-family: var(--font-fill);
    /* font-size: 1.01rem; */
    color: #FFF9D9;
}

.foot ol a:hover {
    color: white;
}

.foot-main {
    display: flex;
    flex-direction: row;
}

.foot-main ol li {
    padding-left: 10px;
    padding-right: 10px;
}

.foot-main .social {
    display: flex;
    flex-direction: column;
    /* margin-right: 100px; */
}

.foot-main .social ol {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

/* .foot-main .social ol li {
    padding-left: 10px;
} */

#social {
    column-gap: 0px;
}

.social i {
    background-color: var(--color-fill-ii);
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 5px 6px 5px;
    font-size: 2rem;
    color: #c8102e;
}

.social i:hover {
    background-color: white;
}

#fb i {
    padding: 6px 10px 6px 10px;
}

#pn i {
    padding: 6px 7px 6px 7px;
}

.foots {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 33px;
    background-color: rgb(65, 61, 61);
    height: 10vh;
    width: 101.08vw;
}

.foots ul ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: small;
}

.foots ul ol li {
    padding-left: 5px;
    padding-right: 5px;
}

.foots ul ol li span {
    color: rgb(255, 183, 27);
}

.foots ul ol li span:hover {
    color: white;
}


.report{
    padding-top: 15px;
}

.record {
    position: absolute;
    top: 45%;
}

.foots ul ol a {
    color: #FFF9D9;
}

.foots ul ol a:hover {
    color: white;
}

.initiative {
    color: black;
    background-color: rgb(240, 240, 240);
}
.initiative-head {
    padding-top: 60px;
    padding-left: 40px;
}

.initiative-head h1 {
    font-stretch: ultra-condensed;
    font-weight: bolder;
    font-size: 2.5rem;
}

.initiative-head p {
    font-size: 1.19rem;
    padding-right: 30px;
}

.initiative-main {
    padding-top: 15px;
    padding-bottom: 10px;
}

.initiative-main ol {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 15px;
}

.initiative-main ol li {
    list-style-type: none;
    padding-bottom: 20px;
}

.initiative-main ol li a {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #c8102e;
    font-family: var(--font-fill);
    font-weight: bolder;
    font-stretch: ultra-condensed;
}

.rule {
    text-decoration: underline;
}

.initiative-main ol li a:hover {
    color: rgb(109, 24, 24);
    text-decoration: underline;
}

.initiative-main ol li p {
    font-size: 1.1rem;
    padding-right: 30px;
}

.initiative-main ol img {
    width: 70px;
    font-weight: bolder;
    padding-bottom: 20px;
}